# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Backend
DATABASE_URL=postgresql+asyncpg://postgres:postgres@localhost:5432/minical
CORS_ORIGINS='["http://localhost:5173","http://127.0.0.1:3000"]'

# Frontend
PORT=3000
VITE_API_URL=http://localhost:8000
VITE_LOG_API_REQUESTS=true
